.DS_Store

# editor
.idea/
.vscode/
.zed/

# dependencies
ui/node_modules
ui/.pnp
ui/*.pnp.js
ui/*.yarn/install-state.gz

# testing
ui/coverage

# build extras
ui/.tanstack/
ui/dist/*
!ui/dist/.gitkeep

# production
artifacts/**
ui/build

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# local env files
ui/.env*.local

# typescript
ui/*.tsbuildinfo
ui/next-env.d.ts
