name: Main workflow

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs: 
  frontend-unit-test:
    uses: ./.github/workflows/frontend-unittest.yaml
  frontend-build:
    uses: ./.github/workflows/frontend-build.yaml
  go-unit-test:
    uses: ./.github/workflows/go-unittest.yaml
  go-vet:
    uses: ./.github/workflows/go-vet.yaml
  go-lint:
    uses: ./.github/workflows/go-lint.yaml
  go-build:
    needs: [frontend-build, frontend-unit-test]
    uses: ./.github/workflows/go-build.yaml
  rock-build:
    needs: [go-build]
    uses: ./.github/workflows/rock-build.yaml
  rock-test:
    needs: [rock-build]
    uses: ./.github/workflows/rock-test.yaml
  rock-scan:
    if: github.ref_name == 'main'
    needs: [rock-build]
    uses: ./.github/workflows/rock-scan.yaml
  rock-publish:
    if: github.ref_name == 'main'
    needs: [rock-build]
    uses: ./.github/workflows/rock-publish.yaml
  snap-build:
    needs: [go-build]
    uses: ./.github/workflows/snap-build.yaml
  snap-publish:
    if: github.ref_name == 'main'
    needs: [snap-build]
    uses: ./.github/workflows/snap-publish.yaml
    secrets: inherit
